body{
    background-image: url('https://www.freeiconspng.com/uploads/pencil-png-pencil-blank--http--www-wpclipartm-education-s-10.png');
    background-position: bottom;
    background-size: 20%;
    background-repeat: no-repeat;
}

.top{
    background-color: white;
    width: 500px;
}


.title{
    font-size: 8em;
    margin: 20px;
}

#option{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

